/twant/app/build/
/twant/.idea/
/twant/.gradle/
/twant/gradlew
/twant/gradlew.bat
/twant/twant.iml
/twant/local.properties
/twant/gradle/
*.salive
.idea/misc.xml
/twant/*.log

*.class
twant/caches/
twant/wrapper/
*.log
*.lock
twant/native/
twant/daemon/
*.profile
*.properties
*.scan
