<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftofs.ft_login">
    <application>

        <activity android:name="com.ftofs.twant.login.ui.LoginActivity">

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
         <!--协议⻚⾯webview-->
<!--         <activity-->
<!--         android:name="com.mobile.auth.gatewayauth.activity.AuthWebVei-->
<!--        wActivity"-->
<!--         android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--         android:exported="false"-->
<!--         android:launchMode="singleTop"-->
<!--         android:screenOrientation="behind" />-->
<!--         &lt;!&ndash;移动授权⻚&ndash;&gt;-->
<!--         <activity-->
<!--         android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"-->
<!--         android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--         android:exported="false"-->
<!--         android:launchMode="singleTop" />-->
        <!--重点关注！！！！！！！-->
        <!--客户在使用全屏模式时不需要使用authsdk_activity_dialog主题，会出现异常动画-->
        <activity
            android:name="com.mobile.auth.gatewayauth.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/authsdk_activity_dialog" />

        <activity
            android:name="com.mobile.auth.gatewayauth.activity.AuthWebVeiwActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />

    </application>
</manifest>