<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftofs.twant">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 注：如果您的App需要上传到google play store，您需要将READ_PHONE_STATE权限屏蔽掉或者移除，否则可能会被下架
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    -->
    <!-- BUGLY 需要的權限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 高德地圖需要的權限 -->
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 環信需要的權限 Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 华为角标 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" /> <!-- 三星角标 -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" /> <!-- 索尼角标 -->
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonyericsson.home.action.UPDATE_BADGE" /> <!-- 安裝應用權限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="COM.MACAUPASS.RECHARGEEASY.PERMISSION.CALL" />


    <application
        android:name=".TwantApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage ="true">
        <activity android:name=".activity.YoutubeActivity"/>
        <activity android:name=".activity.TwantCaptureActivity"/>
        <activity android:name=".activity.AppGuideActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 需要添加下面的intent-filter配置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/app_uri_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" /> <!-- 大豐支付所需Activity -->
        <activity
            android:name="com.vivebest.taifung.ui.LauncherActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 銀聯支付開始 -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- 銀聯支付結束 -->
        <!-- 收銀台界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.CashierActivity"
            android:configChanges="locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 在綫支付界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.OnlinePayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 快捷支付界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.ExpressPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 小額支付界面 -->
        <!-- 確認支付界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.OnLineConfirmPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 確認支付界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.ExpConfirmPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 確認支付界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.NoExpConfirmPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 支付成功界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.SuccessPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 支付失敗界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.FailedPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 開通快捷支付界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.OpenExpressActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 快捷支付收銀台界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.ExpressCashierActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 輸入支付密碼界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.PactActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 廣告界面 -->
        <activity
            android:name="com.vivebest.taifung.ui.AdsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- END OF 大豐支付所需Activity -->
        <!-- 微信支付頁面 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/weixin_app_id" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_app_key" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="umengshare" />
        <meta-data
            android:name="TencentMapSDK"
            android:value="@string/tencent_map_key" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/amap_key" /> <!-- 環信的設置 -->
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1135181009253507#twant-im-dev" /> <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明SDK所需的receiver -->
        <service
            android:name=".TwantHmsMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" /><!-- 集成華爲推送所需的receiver -->
            </intent-filter>
        </service>
        <!--华为 HMS Config-->
        <!--华为开发者后台创建的应用的 APP ID-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="@string/huawei_app_id" />
        <!--华为推送广播接收器，可以直接使用环信 sdk 封装好的，也可以继承自环信重写，如果继承自环信，实现 onToken 方法时必须要调用 super 方法-->
        <!-- 接入HMSSDK 需要注册的provider，authorities 一定不能与其他应用一样，所以这边 com.hyphenate.chatuidemo 要替换上您应用的包名-->
        <provider
            android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider"
            android:authorities="com.ftofs.twant.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"/>
        <receiver android:name=".util.EMHWPushReceiver">
            <intent-filter>
                <!-- 必须,用于接收 TOKEN -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发 onEvent 回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK"/>
                <!-- 可选，查看 PUSH 通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE"/>
            </intent-filter>
        </receiver>
<!--        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver" >-->
<!--            <intent-filter>-->
<!--                &lt;!&ndash; 接收通道发来的通知栏消息，兼容老版本PUSH &ndash;&gt;-->
<!--                <action android:name="com.huawei.intent.action.PUSH" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ftofs.twant.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider339526026920454"
            android:exported="true" />
    </application>

</manifest>